body {
	background-color: #bdc3c7 !important;
}

.navbar {
	border-radius: 0px !important;
}

h1 {
	text-align: center;
	color: white !important;
}

p {
	display: inline;
}

.score {
	color: red;
}

.players {
	color: white;
}

.names {
	color: #2980b9;
	display: inline;
}

.symbols {
	text-align: center;
	font-size: 130px;
	margin: 0 auto;
	color: white;
	height: 160px;
}


#leftSidebar {
	width: 200px;
	height: 250px;
	background-color: #72AF73;
	border: 2px solid white;
	margin-left: 20px;
}

#rightSidebar {
	float: right;
	/*width: 0px;*/
	height: 560px;
	margin-right: 20px;
}

.chatDisplay {
	width: 400px;
	height: 466px;
	padding: 13px 8px 0 8px;
	margin-right: 20px;
	background-color: white;
	overflow-y: auto;
}

.chatInput {
	width: 347px;
	margin: 1px 0 0 1px;
}

.typeAndSend {
	width: 400px;
	height: 28px;
	background-color: grey;
}

/*.chat {
	width: 245px;
}*/

.currentPlayer {
	color: black;
	font-size: 20px;
}

.board {
	margin: 0 auto;
	width: 36%;
	margin-top: 35px;
}

.tiles:hover {
	background-color: #7f766a;
}

.tiles {
	border: 2px solid white;
	height: 32%;
	width: 32%;
	float: left;
	line-height: 200px;
	background-color: #72AF73;
}



