h1 {
	text-align: center;

}

#gameBoard {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	background-color: gray;
	border: 3px solid lime;

}
#test {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	background-color: gray;
	border: 3px solid lime;
	float: right;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
}